<!DOCTYPE html>
<html>
  <head>
    <title>insert</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <form action="/mongo/insert" method="post">
      <input type="text" name="no" placeholder="물품번호" /><br />
      <input type="text" name="na" placeholder="물품명" /><br />
      <input type="text" name="pr" placeholder="가격" /><br />
      <input type="text" name="cn" placeholder="재고수량" /><br />
      <input type="submit" value="물품등록" />
    </form>
  </body>
</html>
