<!DOCTYPE html>
<html>
  <head>
    <title>member</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <form action="/member/insert" method="post">
    <input type="text" name="n1" placeholder="아이디"/><br>
    <input type="text" name="n2" placeholder="암호"/><br>
    <input type="text" name="n3" placeholder="이름"/><br>
    <input type="text" name="n4" placeholder="주소"/><br>
    <input type="text" name="n5" placeholder="나이"/><br>
    <input type="submit" placeholder="회원가입"/>
  </form>
  </body>
</html>
