<!DOCTYPE html>
<html>
  <head>
    <title>select</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>물품번호</th>
          <th>물품명</th>
          <th>물품가격</th>
          <th>물품수량</th>
        </tr>
      </thead>

      <tbody>
      <% for(var i=0;i<list.length;i++) { %>
        <tr>
          <td><%= list[i].no %></td>
          <td><%= list[i].name %></td>
          <td><%= list[i].price %></td>
          <td><%= list[i].cnt %></td>
        </tr>
      <% } %>  
      </tbody>
  </table>  
  </body>
</html>

